.jumbotron img{
	border-radius; 100px%;
	border:5px solid #666
}
section{
	min-height:300px;
}
.portofolio{
	background-color:#4169E1;
}
.jumbotron{
	background-color:#4169E1;
}

.portofolio img{
	padding: 5px;
}
hr{
	width:250px;
	border-top: 3px solid #666;
}
html{
	position:  relative;
}
footer{
  background-color: #4169E1;
     text-align: center;
   }
   ul li{
     display: inline
   }
   a{
     padding: 5px;
     text-decoration: none;
   }
